body {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ff9f9f;
}


h1 {
  width: 500px;
  margin: 0 auto;
  color: #1d2044;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  font-size: 200%%;
}

h2 {
  font-family: 'Playfair Display', serif;
  color: #470a21;
  font-weight: 500;
  font-size: 20px;
  line-height: 2;
}

p {
  color: #0f0101;
  font-family: 'Open Sans', sans-serif;
}
